In [48]:
import os
import pandas as pd
import copy
import re

# pandas的drop_duplicates函数存在问题无法完全删除重复项，所有删重操作只在最后一步进行用excel或wps实行

In [49]:
#
os.chdir(r'E:\文件\大学课程\大四上\毕业设计\数据收集\收集整理\后期数据清洗整理\合并数据')
dflist=['DBAASP.xlsx','DRAMP.xlsx','CAMP.xlsx','LAMP.xlsx']
concatdf=pd.DataFrame()
for file in dflist:
    df=pd.read_excel(file)
    concatdf=pd.concat([concatdf,df])
# all.columns
columns=['database_id', 'name', 'n_terminal', 'sequence', 'c_terminal','other_modification', 'target', 'measure', 'value', 'unit','database']
requisite_columns=['n_terminal', 'sequence', 'c_terminal','other_modification', 'target', 'measure', 'value', 'unit']
concatdf.to_excel(r'1_all所有合并.xlsx',index=False)
concatdf

,database_id,name,n_terminal,sequence,c_terminal,other_modification,target,measure,value,unit,database
0,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Escherichia coli ATCC 25922,MIC,14.5000,µM,DBAASP
1,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Staphylococcus aureus ATCC 25923,MIC,28.0000,µM,DBAASP
2,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Pseudomonas aeruginosa ATCC 27853,MIC,28.0000,µM,DBAASP
3,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Enterococcus faecalis ATCC 29212,MIC,14.5000,µM,DBAASP
4,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Escherichia coli,MIC,6.2050,µM,DBAASP
...,...,...,...,...,...,...,...,...,...,...,...
8349,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,E. coli,MIC,100.0000,uM,LAMP
8350,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,S. aureus,MIC,20.7555,ug/ml,LAMP
8351,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,S. aureus,MIC,15.0000,uM,LAMP
8352,L10Q800R30,PBN1,none,FLSLIPHIVSGVAALAKHLG,none,none,S. aureus,MIC,25.5438,ug/ml,LAMP
8353,L10Q800R30,PBN1,none,FLSLIPHIVSGVAALAKHLG,none,none,S. aureus,MIC,12.5000,uM,LAMP

In [50]:
# 删除除database_id和name和database列外的重复项（来自不同数据库的数据库id和给抗菌肽的名字是多样不统一的
all=copy.deepcopy(concatdf)
all.drop_duplicates(subset=requisite_columns,inplace=True)
all.to_excel(r'2_all删除重复项.xlsx',index=False)
all
#170140

,database_id,name,n_terminal,sequence,c_terminal,other_modification,target,measure,value,unit,database
0,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Escherichia coli ATCC 25922,MIC,14.5000,µM,DBAASP
1,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Staphylococcus aureus ATCC 25923,MIC,28.0000,µM,DBAASP
2,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Pseudomonas aeruginosa ATCC 27853,MIC,28.0000,µM,DBAASP
3,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Enterococcus faecalis ATCC 29212,MIC,14.5000,µM,DBAASP
4,1,Distinctin,NaN,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",NaN,none,Escherichia coli,MIC,6.2050,µM,DBAASP
...,...,...,...,...,...,...,...,...,...,...,...
8349,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,E. coli,MIC,100.0000,uM,LAMP
8350,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,S. aureus,MIC,20.7555,ug/ml,LAMP
8351,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,S. aureus,MIC,15.0000,uM,LAMP
8352,L10Q800R30,PBN1,none,FLSLIPHIVSGVAALAKHLG,none,none,S. aureus,MIC,25.5438,ug/ml,LAMP
8353,L10Q800R30,PBN1,none,FLSLIPHIVSGVAALAKHLG,none,none,S. aureus,MIC,12.5000,uM,LAMP

In [51]:
# 对name,n_terminal,c_terminal,other_modification字段内空缺值进行填充
df_fill_na=copy.deepcopy(all)
df_fill_na['name']=df_fill_na['name'].fillna('no_name')
df_fill_na['c_terminal']=df_fill_na['c_terminal'].fillna('none')
df_fill_na['n_terminal']=df_fill_na['n_terminal'].fillna('none')
df_fill_na['other_modification']=df_fill_na['other_modification'].fillna('none')
df_del_na=copy.deepcopy(df_fill_na)
df_del_na=df_del_na.dropna(axis=0,how='any')
df_del_na.to_excel(r'3_all填缺后去空白样本.xlsx',index=False)
df_del_na

,database_id,name,n_terminal,sequence,c_terminal,other_modification,target,measure,value,unit,database
0,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Escherichia coli ATCC 25922,MIC,14.5000,µM,DBAASP
1,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Staphylococcus aureus ATCC 25923,MIC,28.0000,µM,DBAASP
2,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Pseudomonas aeruginosa ATCC 27853,MIC,28.0000,µM,DBAASP
3,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Enterococcus faecalis ATCC 29212,MIC,14.5000,µM,DBAASP
4,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Escherichia coli,MIC,6.2050,µM,DBAASP
...,...,...,...,...,...,...,...,...,...,...,...
8349,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,E. coli,MIC,100.0000,uM,LAMP
8350,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,S. aureus,MIC,20.7555,ug/ml,LAMP
8351,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,S. aureus,MIC,15.0000,uM,LAMP
8352,L10Q800R30,PBN1,none,FLSLIPHIVSGVAALAKHLG,none,none,S. aureus,MIC,25.5438,ug/ml,LAMP
8353,L10Q800R30,PBN1,none,FLSLIPHIVSGVAALAKHLG,none,none,S. aureus,MIC,12.5000,uM,LAMP

In [52]:

# 修改修饰和unit
revise_df=copy.deepcopy(df_del_na)
#删除掉数据表中所有存在空字符的单元格，需要先把所有单元格变成文本形式，然后再针对value列将其转为数值型
revise_df= revise_df.applymap(lambda x: str(x).strip())
revise_df['value'] = pd.to_numeric(revise_df['value'], errors='coerce')
# 建立修改列的副本
revise_df['old_target']=copy.deepcopy(revise_df['target'])  #在未修改前复制target列以做后续对比
revise_df['old_value']=copy.deepcopy(revise_df['value'])  #在未修改前复制target列以做后续对比
revise_df['old_unit']=copy.deepcopy(revise_df['unit'])  #在未修改前复制target列以做后续对比
#定义一个删除修饰以中括号包含的引文部分
def del_ref(texts):
    if '[' and ']' in texts:
        new=texts.split(']')[1].strip()
        return new
    else:
        return texts

# 修改修饰部分
revise_df['n_terminal']=revise_df['n_terminal'].apply(del_ref)
revise_df['c_terminal']=revise_df['c_terminal'].apply(del_ref)

revise_df['n_terminal'] = revise_df['n_terminal'].replace(['Not included yet', 'Free','None'], 'none')
revise_df['c_terminal'] = revise_df['c_terminal'].replace(['Not included yet', 'Free','None'], 'none')
revise_df['other_modification'] = revise_df['other_modification'].replace(['Not included yet', 'Free','None'], 'none')
revise_df['n_terminal'] = revise_df['n_terminal'].replace(['Acetylated','Acetylation'], 'ACT')
revise_df['c_terminal'] = revise_df['c_terminal'].replace(['Amidation','Amidaton'], 'AMD')
revise_df['c_terminal'] = revise_df['c_terminal'].replace(['α-Amidation','α‐Amidation'], 'α-Amidation')

# 修改target


        #需要先修改有[:的情况所以定义第一次修改的函数
def revise_target1(target):
    if len(target)<3:
        return target
    elif '[' and ':' in target:
        new_target=target.split(':')[1].strip()
        if new_target!=None:
            new_target=new_target.replace('[','')
            new_target=new_target.replace(']','')
            new_target=new_target.replace('-','')
            return new_target
        else:
            return new_target
    elif 'Gram' and ':' in target:
        new_target=target.split(':')[1].strip()
        if new_target!=None:
            new_target=new_target.replace('[','')
            new_target=new_target.replace(']','')
            new_target=new_target.replace('-','')
            return new_target
        else:
            return target
    elif '[' in target:
        target=target.replace(']','')   #得把这个放在前面不然[切割之后可能是None了
        target=target.replace('[','')
        return target
    elif ']' in target:
        target = target.replace(']','')
        return target
    else:
        return target
revise_df['target']=revise_df['target'].apply(revise_target1)
revise_df = revise_df[revise_df['target'] != '']    #每次修改完都要删除掉为空字符的行，空字符不代表是数据表中的nan，所以有时候发现用dropna怎么都删不干净

   #在第一次修改的基础上补全target如把. luteus补全成Micrococcus luteus，匹配同义target，如把A.fumigatus改成Aspergillus fumigatus

text=set(revise_df['target'])  #创建一个集合（主要是去重）
text='&'.join([i for i in text])    #使用&来分开每个target方便re正则表达式匹配到
def revise_target2(target):
    if len(target)<3:   #不设置这个的话程序可能会由于后面的切片调用报错
        return target
    elif target[0]=='.':
        # new_t=target.split('.')[1].strip()  #split切片的话可能存在多个.导致匹配不精确
        new_t=target[1:].strip()      #一定要去掉空字符，相比于split切片可以更好地解决多分段的问题
        new_t=new_t.replace('(','')    #以上的replace是为了防止存在这些符号影响正则表达式
        new_t=new_t.replace(')','')
        new_t=new_t.replace('[','')
        new_t=new_t.replace(']','')
        pattern='&[A-Z][^.]*'+new_t   #正则表达式匹配是&开头接着是任意一个大写字母然后后面是不是.的任意字符多次最后是去掉点的target
        match=re.search(pattern,text)
        if match:
            new=match.group(0)
            # new=new.replace('&','').strip()  #这样的话可能会匹配很长的字段然后只是保证结尾是要匹配的target
            new=new.split('&')[-1].strip()
            return new
        else:
            pattern='&[A-Z][.].?'+new_t     #如果不能找到全称的话就退而求其次补全前面的大写字母就行了
            match=re.search(pattern,text)
            if match:
                return match.group(0).strip('&')
            else:
                return target
    elif len(target)>3 and target[1]=='.':
        # new_t=target.split('.')[1].strip()
        new_t=target[2:].strip()   #既然.在1号位，不保存.的情况下从2号位开始切片
        new_t=new_t.replace('(','')
        new_t=new_t.replace(')','')
        new_t=new_t.replace('[','')
        new_t=new_t.replace(']','')
        pattern='&[A-Z][^.]*'+new_t
        match=re.search(pattern,text)
        if match:
            new=match.group(0)
            new=new.split('&')[-1].strip()
            return new
        else:
            return target
    else:
        return target

revise_df['target']=revise_df['target'].apply(revise_target2)
revise_df=revise_df.dropna(subset='target')   #对修改后对列中存在空白的地方进行删除
revise_df = revise_df[revise_df['target'] != '']
# 修改unit部分
# 把L全修改成l方便后续的替换


revise_df['unit']=revise_df['unit'].str.replace('L','l')
revise_df['unit']=revise_df['unit'].str.replace(']','')

revise_df['unit']=revise_df['unit'].replace(['µM', 'uM', 'μM','μmol/l','μmol/l','µmol/l','microM'],'uM')
revise_df['unit']=revise_df['unit'].replace('mM','1000uM')
revise_df['unit']=revise_df['unit'].replace(['nM','nanoM'],'0.001uM')

revise_df['unit']=revise_df['unit'].replace(['µg/ml', 'ug/ml', 'μg/ml', 'microg/ml','mg/l','microg/ml'],'ug/ml')
revise_df['unit']=revise_df['unit'].replace(['mg/ml','g/l'], '1000ug/ml')
revise_df['unit']=revise_df['unit'].replace(['ng/ml'], '0.001ug/ml')


# 对unit和value单位换算
revise_df.loc[revise_df['unit'] == '1000uM', 'value'] *= 1000
revise_df.loc[revise_df['unit'] == '1000uM', 'unit'] = 'uM'

revise_df.loc[revise_df['unit'] == '0.001uM', 'value'] *= 0.001
revise_df.loc[revise_df['unit'] == '0.001uM', 'unit'] = 'uM'

revise_df.loc[revise_df['unit'] == '0.001ug/ml', 'value'] *= 0.001
revise_df.loc[revise_df['unit'] == '0.001ug/ml', 'unit'] = 'ug/ml'

revise_df.loc[revise_df['unit'] == '1000ug/ml', 'value'] *= 1000
revise_df.loc[revise_df['unit'] == '1000ug/ml', 'unit'] = 'ug/ml'
# 删除存在空缺值的样本
revise_df=revise_df.dropna(axis=0,how='any')
revise_df.to_excel(r'4_all修改同义词.xlsx',index=False)

C:\Users\lanliu\AppData\Local\Temp\ipykernel_12172\434014967.py:120: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  revise_df['unit']=revise_df['unit'].str.replace(']','')

In [53]:
# 将旧的target列删去，并删去所有存在缺失值的样本，输出最终清洗完成的数据表
finaldf=copy.deepcopy(revise_df)
finaldf=finaldf.drop(['old_target','old_value','old_unit'],axis=1)
finaldf = finaldf[finaldf['target'] != '']
finaldf=finaldf.dropna(axis=0,how='any')
finaldf.drop_duplicates(subset=requisite_columns,inplace=True)
finaldf.to_excel(r'all-peptides.xlsx',index=False)
finaldf

,database_id,name,n_terminal,sequence,c_terminal,other_modification,target,measure,value,unit,database
0,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Escherichia coli ATCC 25922,MIC,14.5000,uM,DBAASP
1,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Staphylococcus aureus ATCC 25923,MIC,28.0000,uM,DBAASP
2,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Pseudomonas aeruginosa ATCC 27853,MIC,28.0000,uM,DBAASP
3,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Enterococcus faecalis ATCC 29212,MIC,14.5000,uM,DBAASP
4,1,Distinctin,none,"ENREVPPGFTALIKTLRKCKII,NLVSGLIEARKYLEQLHRKLKNCKV",none,none,Escherichia coli,MIC,6.2050,uM,DBAASP
...,...,...,...,...,...,...,...,...,...,...,...
8348,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,Escherichia coli,MIC,138.3700,ug/ml,LAMP
8349,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,Escherichia coli,MIC,100.0000,uM,LAMP
8350,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,Staphylococcus aureus,MIC,20.7555,ug/ml,LAMP
8351,L10Q2PGA80,Temporin-1TGa,none,FLPIIGKLLSGIL,none,none,Staphylococcus aureus,MIC,15.0000,uM,LAMP
8352,L10Q800R30,PBN1,none,FLSLIPHIVSGVAALAKHLG,none,none,Staphylococcus aureus,MIC,25.5438,ug/ml,LAMP